paper/main.pdf
archive/.DS_Store
manuscript/main-cache.yaml
manuscript/main.bbl
manuscript/main.blg
manuscript/main.pdf
.DS_Store
R/
archive/
manuscript/.DS_Store
manuscript/arimizu_subsampling-cache.yaml
manuscript/build/
manuscript/quantiles.xlsx



# latex files
*.fls
*.synctex
*.synctex.gz
*.aux
*.synctex.gz
.Rproj.user
*.bcl
*.bbl
*.blg
*.log
*latexmk
*run.xml

# R files
*.RData
*.Rproj
*.Rhistory


*.swp
.DS_Store
